
{% extends "base.html" %}
{%block links%}
  <link href="static/stylesheets/food.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="cards">
  <div class="content">

  </div>
</div>
{% endblock %}

{% block subcontent %}



  <ul class="likers">
    <li>
    <button type="button" class='dislikebutton swipe btn btn-default btn-lg'><span class="glyphicon glyphicon-remove"></span></button>
    </li>
    <li>
    <button type="button" class="likebutton swipe btn btn-default btn-lg"><span class="glyphicon glyphicon-ok"></span></button>
    </li>
  </ul>
{% endblock %}

{% block scripts %}

  <script src="static/food.js"></script>

  <script id='postfood' type='x-tmpl-mustache'>
      <div class='<%num%> <%merchantId%> slide' style="z-index:<%num%>;">
      <h5 class='<%dishId%> <%merchantId%> merchant'><%merchantName%></h5>
          <h5 class='<%dishId%> <%merchantId%> <%url%> <%dishName%> <%merchantName%> name'><%dishName%></h5>
          <div class='<%dishId%> <%merchantId%> imageDiv'>
            <img class='foodImage' src='<%image%>'/>
          </div>
          <div class='description'><%description%></div>
          <div class='price'>$<%price%></div>
      </div>
  </script>

  <script id='allRecommended' type='x-tmpl-mustache'>
  <div class='<%allDishId%> <%allMerchantId%> closeLook'>
    <button type='button' class='<%allDishId%> previous'>Previous</button>
    <button type='button' class='<%allDishId%> next'>Next</button>
  </div>
  </script>

  <script id='otherRecommended' type='x-tmpl-mustache'>
  <div class='<%allDishId%> otherSlide' style="z-index:<%zBoi%>;">
     <h3 class='<%allDishId%> <%allMerchantId%> name'><%name%></h3>
        <div class='<%allDishId%> <%allMerchantId%> allImageDiv'>
          <img class='allFoodImage' src='<%image%>'/>
        </div>
        <div class='allDescription'><%description%></div>
        <div class='allPrice'><%price%></div>
  </script>

{% endblock %}
