{% extends "base.html" %}
{% block content %}
<div class="center">
  <h1>Lazy Sunday</h1>

  <div>Welcome {{user.name}}</div>
</div>
{% endblock %}

  {% block subcontent %}
      <div class='datboi'><img class='dboi' src="https://media.giphy.com/media/1D73OhwOoahyg/giphy.gif"></div>
      <ul class="twochoice">
        <li><a class="btn btn-lg btn-success btn-movies" href="/movies" role="button">Movies</a></li>

        <li><a class="btn btn-lg btn-success btn-food" href="/food"role="button">Food</a></li>
      </ul>
  {% endblock %}

  {%block scripts%}
  <script>
    function initiate_geolocation() {
      navigator.geolocation.getCurrentPosition(handle_geolocation_query);
    };

    function handle_geolocation_query(position){
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
        local = {"latitude": latitude, "longitude":longitude}
        $.ajax({
          method: "POST",
          url:'/onload',
          data: local,
          datatype: "jsonp",
          success: function(response){
            console.log(response)
            $('.twochoice').css('visibility', 'visible')
            $('.datboi').css('visibility', 'hidden')
          }
        })
    };


    initiate_geolocation()

  </script>
  {%endblock%}
